
/* Style the header */
/* h1{
    padding: 10px;
    margin-top: 10%;
    color: white;
    background-color: rgb(45, 32, 59);
    max-width: 300px;
} */
body{
    background-color: rgb(59, 46, 85);
    opacity: 0.9;
}
.header{
    display: flex;
    justify-content: space-between;

}

h1{
    padding: 20px;
    color: white;
}

nav,h1{
    padding: 15px;
}

nav>ul>li{
    display: inline-block;
    padding: 20px;
    box-shadow: 0 0 10px rgb(16, 16, 29);
    text-transform: uppercase;
    background-color: rgb(45, 32, 59);
}
nav>ul>li>a:hover{
    background-color:blue;
    color: white;
}


/* style the image and name section */

.image-name{
    display: flex;
    justify-content: space-around;
    color: white;
}
.image-name>img{
    margin-top: -7.5%;
}
.image-name>p{
    margin-top: 6%;

}

/* ABOUT ME */
.about{
    color: white;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* PROJECTS */
.projects{
    color: white;
}

/* CONTACT */
.contact{
    color: white;
}